@tailwind base;
@tailwind components;
@tailwind utilities;

// variables
$btn-height: 44px;

// Header
.header{
    display: grid;
    grid-template-areas: "header-logo header-menu header-icons";
    grid-template-columns: 1fr 2fr 1fr;
    .header__logo{
        grid-area: header-logo;
        margin-left: 20px;
    }
    .header__menu{
        grid-area: header-menu;
        margin: auto;
    }
    .header__icons{
        grid-area: header-icons;
        margin-right: 20px;
    }

    @media (max-width: 1024px) {
        grid-template-areas: "header-menu header-logo header-icons";

        .header__logo {
            margin: 10px auto;
        }

        .header__menu {
            margin: 0;
            margin-left: 5px;
        }

        .header__icons {
            margin-right: 5px;
        }
    }

    // submenu
    .nav__item{
        &:hover{
            .nav__item-submenu{
                display: block;
            }
        }

        .nav__item-submenu{
            display: none;
        }
    }
}

// Helpers
.page-width{
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
}

// buttons
.shopify-payment-button{
    button{
        @apply bg-black text-white rounded-sm;
        min-height: $btn-height !important;
    }
    .shopify-payment-button__more-options{
        @apply mt-2
    }
}

.button__primary{
    @apply bg-black text-white my-2 px-6 rounded-sm flex items-center;
    min-height: $btn-height;
}